html,body{
    height: 100%;
    max-height: 100%;
}
body{
    margin: 0;
}
.main{
    background: url(img/background.jpg) no-repeat scroll;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: relative;
}
.main h1{
    padding: 0;
    margin: 0;
    text-align: center;
    color: #dedede;
}
.animate{
    transition:all 1.5s ease-in-out;
}
.fast-animate{
    transition:all 0.5s ease-in-out;
}
.money{
    position: absolute;
    text-align: center;
    left: 50%;
    margin-left: -123px;
    bottom: 50px;
    z-index: 2;
    background-image: url(img/rmb.png);
    width: 243px;
    height: 120px;
}
.transform{
    transform:rotate(720deg) scale(1,1);
}
.normal{
    transform: scale(1,1);
}
.package{
    height: 317px;
    margin-bottom: 10px;
    width: 100%;
    position: absolute;
    bottom: 22px;
    overflow: hidden;
}
.package .pg{
    position: relative;
    pointer-events:none;
}
.package .top{
    z-index: 1;
    width: 260px;
    height: 182px;
    margin: 0 auto;
    padding-right: 7px;
    background-image: url(img/package_top.png);
}
.package .top img{
    display: block;
}
.package .bottom{
    z-index: 3;
    width: 251px;
    height: 135px;
    margin: 0 auto;
    background-image: url(img/package_bottom.png);
}
.package .bottom:hover{
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}
.grab{
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}
.grabbing{
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}